doctype html
html
	head
		meta(charset='UTF-8')
		title Material Design Login Form
		link(rel='stylesheet', href='/css/login.css', type='text/css' )
	body
		hgroup
			h1 Error: #{message}
                        
		